/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/inter-v12-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/inter-v12-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* .addReserv {
  width: 1000px;
  height: 1000px;
} */

.findBtn {
  padding: 10px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.subBtn .btn {
  margin-top: 15px;
  margin-right: 15px;
}

.untree_co-section {
  padding: 70px 0;
}

.row .tableList thead tr th {
  margin-right: 10px;
}

.submittedBtn {
  margin-top: 70px;
}

.pageBar {
  margin-bottom: 70px;
}

.page-link.active,
.active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #b4b4b4;
  border-color: #b4b4b4;
}

.vodReal {
  /* background-color: rgba(195, 175, 151, 0.15); */
  /* padding-bottom: 390px;
  margin-bottom: 260px; */
  padding-top: 170px;
  padding-bottom: 170px;
}
.videoTitle2 {
  margin-left: 200px;
}
.videoTitle3 {
  margin-bottom: 100px;
  margin-left: 400px;
}
video {
  width: 1000px;
  height: 500px;
  display: block;
  margin-top: 50px;
  margin-left: 350px;
}
